body {
  align-items: center;
  min-height: 100vh;
  background-color: #10141e;
  /* margin-top: -200px; */
}

.box {
  width: 25rem;

  height: 23.3125rem;
  background-color: #161d2f;
  color: #fff;
  border-radius: 1.25rem;
}

.heading-login {
  font-size: 2rem;
  padding: 0.625rem;

  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 5px;

  font-family: Outfit;
  font-weight: 300;
}
.input_box {
  position: relative;
  width: 100%;

  height: 2.25rem;
  margin: 1.5rem 0;

  display: flex;
  justify-content: center;
  justify-items: center;
  font-family: Outfit;
  font-weight: 300;
  margin-bottom: 2rem;
}
.input_box input {
  width: 83%;
  height: 2.25rem;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 0.063rem solid #5a698f;
  color: #fff;

  padding-bottom: 1.13rem;
  padding-left: 1rem;
  padding-right: 8.75rem;
  caret-color: #fc4747;
  padding-top: 0.313rem;
  cursor: pointer;
  font-family: Outfit;
  font-weight: 300;
  font-size: 0.938rem;

}

.input_box input::placeholder {
  font-size: 0.938rem;
  font-family: Outfit;
  opacity: 0.5;
}

.button:hover {
  background-color: #fff;
  color: black;
}
.error_message {
  color: #fc4747;
  font-size: 0.813rem;
  position: absolute;
   top: 50%;/* Vertically center the message relative to the input */
  right: 0%; /* Align the message to the right of the input box */
  transform: translateY(-50%); /* Adjust for vertical centering */
  margin-top: 0; /* Remove the top margin */
  margin-right: 3.125rem;
  padding-bottom: 0.625rem;
}
.input_box.error input  {
  border-bottom: 0.063rem solid #fc4747; /* Make the border red */

}

.input_box.error input:focus {
  border-color: white; /* White border on focus */
  outline: none; /* Remove default focus outline */
}

/* If the input is focused but has no error, we can reset to default border */
.input_box input:focus {
  border-bottom: 0.063rem solid #ccc; /* Border back to default on focus */
}




 

.pattern_error {
  position: absolute;
  top: 60px; /* Adjust this to position the pattern error as desired */
  left: 33px;
  padding-bottom: 10px;
  

 
  
}


.text {
  font-weight: 300;
  font-family: Outfit;
  font-size: 0.938rem;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #fc4747;
  height: 0.313rem;
  margin-top: 0.313rem;
  margin-bottom: -0.625rem;
  padding-top: 0.625rem;
}

/*logo*/
/* Default padding */
.logo-login {
  padding-top: 3rem;
  padding-bottom: 3.65rem;
  margin-bottom: -3.688rem;
}

/* Medium devices (md breakpoint) */
@media (min-width: 768px) {
  .logo-login {
    padding-top: 5rem;
    padding-bottom: 4.53rem;
    margin-bottom: -3.988rem;
  }
}

/* Large devices (lg breakpoint) */
@media (min-width: 1024px) {
  .logo-login {
    padding-top: 4.9rem;
    padding-bottom: 5.37rem;
    margin-bottom: -5.388rem;
  }
}

/* Extra large devices (xl breakpoint) */
@media (min-width: 1280px) {
  .logo-login {
    padding-top: 4.9rem;
  }
}

@media only screen and (max-width: 768px) {
  .box {
    width: 100%; /* Adjust width for small screens */
    height: 22.813rem;
    width: 20.438rem;
    border-radius: 0.63rem;
  }
}
@media only screen and (max-width: 768px) {
  .heading-login {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
  }
}

input:-webkit-autofill {
  background-color: transparent !important; /* Remove autofill background */
  color: white !important; /* Ensure text color matches */
  -webkit-text-fill-color: white !important; /* Ensure autofilled text is white */
  transition: background-color 5000s ease-in-out 0s; /* Prevent quick style flash */
}
